.grid-container {
  height: 50rem;
  background-color: #f2f4f3;
}
.grid-row {
  display: flex;
  justify-content: space-around;
}
.grid-item {
  height: 20rem;
  width: 20rem;
  background-color: white;
  margin: 2rem 0 1rem 0;
  text-align: center;
  border-radius: 36px;
  position: relative;
}
.plus-icon {
  margin-right: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 0;
}

#timer-button,
#shield-button,
#spanner-button,
#diamond-button,
#leaf-button,
#touch-button {
  animation: switchButton 500ms;
  animation-direction: reverse;
}

#timer-exit,
#shield-exit,
#spanner-exit,
#diamond-exit,
#leaf-exit,
#touch-exit {
  animation: switchButton 500ms;
  fill: white;
  animation-fill-mode: forwards;
}

@keyframes switchButton {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
.feature-description {
  margin: 1rem;
  color: white;
}
#timer-reverse,
#shield-reverse,
#spanner-reverse,
#diamond-reverse,
#leaf-reverse,
#touch-reverse {
  display: none;
  background-color: black;
}
